.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  visibility: hidden;
  z-index: 2;
  align-items: flex-start;
}

.modal__open {
  visibility: visible;
}

.modal__title {
  font-size: 24px;
  line-height: 1.2;
  padding: 0;
  margin-left: 0 auto;
}

.modal__close {
  border: none;
  background-image: url('../../images/close_black.svg');
  background-color: transparent;
  height: 18px;
  width: 18px;
  background-size: contain;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0;
  margin: 0;
}

.modal__preview {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 16px;

  height: auto;
  max-height: 90vh;
  top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 10px;
  box-sizing: border-box;
  /* min-width: 85%; */
  /* max-width: 85%; */
  max-width: 650px;
  overflow-y: auto;
}

@media screen and (max-width: 650px) {
  .modal__preview {
    /* width: 95%; */
  }
}
