.nav__bar {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8px 50px;

  height: 80px;
  display: flex;
  background-color: #eef2ee;

  margin: 0;
  align-items: center;
  box-shadow: inset 0 25px 10px -25px rgba(156, 156, 156, 0.5);
  box-sizing: border-box;
}

.nav-link {
  color: #888888;
  text-decoration: none;
}
.active {
  color: #009a00;
  border-bottom: 2px solid #009a00;
}

.nav__bar_items {
  /* width: 80px; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;

  padding: 13px 13px 15px;
}

.nav__text {
  /* padding-top: 8px; */
  margin: 0;
  width: fit-content;
  font-size: 12pt;
  text-align: center;
  line-height: 1.35;
}

.nav__icon {
  height: 28px;
  width: 28px;
  padding-right: 10px;
}

.nav__button {
  border: none;
  background-color: transparent;
  width: 80px;
}
