.my-recipes {
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: left;
  width: 88%;
  max-width: 1360px;
  padding-bottom: 20px;
}

.my-recipes__button {
  display: flex;
  align-items: center;
  width: 275px;
  border: 0;
  border-radius: 8px;
  height: 45px;
  justify-content: center;
  cursor: pointer;
}

.my-recipes__button_icon {
  padding-right: 15px;
  cursor: pointer;
}

.my-recipes__title {
  margin: 0;
  padding: 15px 0 25px;
  text-align: left;
}

.my-recipes__text-description {
  margin: 0;
  padding: 0 0 35px;
  width: 70%;
  text-align: left;
}

.circle {
  background-color: #fff;
  border: 1px solid #00c500;
}

.personal {
  background-color: #8ff365;
}

.my-recipes__button-set {
  display: flex;

  margin: 0 auto;
  justify-content: left;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
